{% extends 'base.html' %}

{% block head_css %}
    {{ super() }}

{% endblock %}

{% block styles %}
{{super()}}

{% endblock %}


{% block title %}
 {{ super() }}
{% endblock %}


{% block app_content %}
<div class="titulo  text-center">
    <h1 >{{ _('My account')}}</h1>
    <h1 >Hola {{ current_user.username }}!</h1>
</div>
{% for message in get_flashed_messages() %}
    <div class="alert alert-info">
        {{ message }}
    </div>
{% endfor %}
{% for field, errors in form.errors.items() %}
    {% for error in errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
{% endfor %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">

            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ _('Change password') }}</h2>
                        <form method="POST" action="{{ url_for('auth.change_password') }}">
                            {{ form.csrf_token }}
                            
                            <!-- Campo oculto para el nombre de usuario (si es necesario) -->
                            {% if current_user.is_authenticated %}
                                <input type="hidden" name="username" value="{{ current_user.username }}">
                            {% endif %}
                        
                            <!-- Campos de contraseña -->
                            <div class="mb-3">
                                {{ form.current_password.label(class="form-label") }}
                                {{ form.current_password(class="form-control", required=True) }}
                            </div>
                            <div class="mb-3">
                                {{ form.new_password.label(class="form-label") }}
                                {{ form.new_password(class="form-control", required=True) }}
                            </div>
                            <div class="mb-3">
                                {{ form.confirm_new_password.label(class="form-label") }}
                                {{ form.confirm_new_password(class="form-control", required=True) }}
                            </div>
                            
                            <button type="submit" class="btn navbar-button">{{ _('Change Password') }}</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block scripts %}
{{ super() }}

{% endblock %}
